<section *ngIf="cartNotFound">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-empty div-float text-center" >
          <img src="assets/_img/empty-cart.png" alt="Empty Cart" class="img-fluid" />
          <h1>Your cart is empty, but it <br />doesn’t have to be.</h1>
          <h4><a routerLink="/">Click here</a> to fill it up!</h4>
          <!-- <a routerLink="/" class="black-btn" style="margin: 30px auto 0;">Go to homepage</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- data-aos="zoom-in" data-aos-duration="1000" -->
