<div class="frm-wrap">
    <!-- data-aos="fade-up" data-aos-duration="2000" data-aos-once="true" -->

    <div class="div-floatfull accnt-profl">
        <form class="ps-form--checkout" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12">
                    <div class="ps-form__billings">
                        <h4 class="ps-form__heading">Change Password</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- <div class="form-group">
                                    <label>Old Password <sup>*</sup></label>
                                    <div class="position-relative">
                                        <input class="form-control oldPass passShow" type="password" placeholder="Old Password" formControlName="old">
                                        <span toggle=".oldPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>
                                </div>

                                <ng-template [ngIf]="changePasswordForm.get('old').touched || changePasswordForm.get('old').dirty">
                                    <div class="error-fld" *ngIf="changePasswordForm.get('old').hasError('required')">{{ MESSAGES.required }}</div>
                                </ng-template> -->

                                <div class="detl-srchflds-bx w-100 mr-0">
                                    <div class="form-group floating">
                                        <div class="input-field-wrap">
                                            <span>
                                  <div class="input-field">
                                      
                                      <label for="ps1">Old Password *</label>
                                            <input class="form-control oldPass passShow frmEle" type="password" id="ps1" data-placeholder="Old Password" formControlName="old">
                                            <span toggle=".oldPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                        </div>
                                        </span>
                                    </div>


                                </div>
                                <ng-template [ngIf]="changePasswordForm.get('old').touched || changePasswordForm.get('old').dirty">
                                    <div class="error-fld" *ngIf="changePasswordForm.get('old').hasError('required')">{{ MESSAGES.required }}</div>
                                </ng-template>

                            </div>

                        </div>
                        <div class="col-sm-6">
                            <!-- <div class="form-group">
                                <label>New Password <sup>*</sup></label>
                                <div class="position-relative">
                                    <input formControlName="password" class="form-control cpNewPass passShow" type="password" placeholder="New Password">
                                    <span toggle=".cpNewPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div> -->

                            <!-- <ng-template [ngIf]="changePasswordForm.get('password').touched || changePasswordForm.get('password').dirty">
                                <div class="error-fld" *ngIf="changePasswordForm.get('password').hasError('required')">{{ MESSAGES.required }}</div>
                                <div class="error-fld" *ngIf="changePasswordForm.get('password').hasError('minlength')">{{ MESSAGES.minPasswordLength }}</div>
                                                 <div class="error-fld" *ngIf="changePasswordForm.get('password').hasError('maxlength')">{{ MESSAGES.maxPasswordLength }}</div>
                                <div class="error-fld" *ngIf="!changePasswordForm.get('password').hasError('minlength') && (changePasswordForm.get('password').hasError('hasNumber') || changePasswordForm.get('password').hasError('hasCapitalCase') || changePasswordForm.get('password').hasError('hasSmallCase'))">{{ MESSAGES.passwordAdvanceValidation }}</div>

                            </ng-template> -->


                            <div class="detl-srchflds-bx w-100 mr-0">
                                <div class="form-group floating">
                                    <div class="input-field-wrap">
                                        <span>
                                          <div class="input-field">
                                              
                                              <label for="ps2">New Password *</label>
                                              <input formControlName="password" class="form-control cpNewPass passShow frmEle" id="ps2" type="password" data-placeholder="New Password">
                                                    <span toggle=".oldPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>
                                    </span>
                                </div>


                            </div>
                            <ng-template [ngIf]="changePasswordForm.get('password').touched || changePasswordForm.get('password').dirty">
                                <div class="error-fld" *ngIf="changePasswordForm.get('password').hasError('required')">{{ MESSAGES.required }}</div>
                                <div class="error-fld" *ngIf="changePasswordForm.get('password').hasError('minlength')">{{ MESSAGES.minPasswordLength }}</div>
                                <!--                  <div class="error-fld" *ngIf="changePasswordForm.get('password').hasError('maxlength')">{{ MESSAGES.maxPasswordLength }}</div>-->
                                <div class="error-fld" *ngIf="!changePasswordForm.get('password').hasError('minlength') && (changePasswordForm.get('password').hasError('hasNumber') || changePasswordForm.get('password').hasError('hasCapitalCase') || changePasswordForm.get('password').hasError('hasSmallCase'))">{{ MESSAGES.passwordAdvanceValidation }}</div>

                            </ng-template>

                        </div>

                    </div>
                    <div class="col-sm-12">
                        <!-- <div class="form-group">
                            <label>Confirm Password <sup>*</sup></label>
                            <div class="position-relative">
                                <input formControlName="password_confirmation" class="form-control cpconfirmPass passShow" type="password" placeholder="Confirm Password">
                                <span toggle=".cpconfirmPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                        </div> -->
                        <!-- <ng-template [ngIf]="changePasswordForm.get('password_confirmation').touched || changePasswordForm.get('password_confirmation').dirty">
                            <div class="error-fld" *ngIf="changePasswordForm.get('password_confirmation').hasError('required')">{{ MESSAGES.required }}</div> -->
                        <!--                  <div class="error-fld" *ngIf="changePasswordForm.get('password_confirmation').hasError('minlength')">{{ MESSAGES.minPasswordLength }}</div>-->
                        <!--                  <div class="error-fld" *ngIf="changePasswordForm.get('password_confirmation').hasError('maxlength')">{{ MESSAGES.maxPasswordLength }}</div>-->
                        <!-- <div class="error-fld" *ngIf="!changePasswordForm.get('password_confirmation').hasError('required') && changePasswordForm.get('password_confirmation').value != changePasswordForm.get('password').value && changePasswordForm.get('password_confirmation').touched">{{ MESSAGES.confirm_password }}</div>
                        </ng-template> -->



                        <div class="detl-srchflds-bx w-100 mr-0">
                            <div class="form-group floating">
                                <div class="input-field-wrap">
                                    <span>
                                    <div class="input-field">
                                        
                                        <label for="ps3">Confirm Password *</label>
                                        <input formControlName="password_confirmation" class="form-control cpconfirmPass passShow frmEle" id="ps3" type="password" data-placeholder="Confirm Password">
                                        
                                              <span toggle=".oldPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                </span>
                            </div>


                        </div>
                        <ng-template [ngIf]="changePasswordForm.get('password_confirmation').touched || changePasswordForm.get('password_confirmation').dirty">
                            <div class="error-fld" *ngIf="changePasswordForm.get('password_confirmation').hasError('required')">{{ MESSAGES.required }}</div>
                            <!--                  <div class="error-fld" *ngIf="changePasswordForm.get('password_confirmation').hasError('minlength')">{{ MESSAGES.minPasswordLength }}</div>-->
                            <!--                  <div class="error-fld" *ngIf="changePasswordForm.get('password_confirmation').hasError('maxlength')">{{ MESSAGES.maxPasswordLength }}</div>-->
                            <div class="error-fld" *ngIf="!changePasswordForm.get('password_confirmation').hasError('required') && changePasswordForm.get('password_confirmation').value != changePasswordForm.get('password').value && changePasswordForm.get('password_confirmation').touched">{{ MESSAGES.confirm_password }}</div>
                        </ng-template>

                    </div>
                </div>

                <div class="col-sm-12">

                    <div class="form-group submit text-center">
                        <app-user-panel-submit-button [isSubmitting]="isSubmitting" submit="Submit"></app-user-panel-submit-button>
                    </div>
                </div>
            </div>
    </div>
</div>

</div>
</form>
</div>

</div>