<app-clearfix></app-clearfix>
<div class="ps-page--default pt-5 hgp-checkout">
  <div class="container">
    <!-- <div class="ps-page__header pad-btm30 checkout-head"> -->
    <div class="ps-page__header pb-0 checkout-head">
      <div class="checkout-logo">
        <app-logo></app-logo>
      </div>
      <h3>{{ title }}</h3>
      <app-breadcrumb page="checkout"></app-breadcrumb>
    </div>
    <div class="ps-page__content">
      <div class="ps-checkout">
        <div class="ps-section__actions" *ngIf="!isAuthenticated">
          <div class="row">
            <div class="col-md-12">
              <div class="ps-block--checkout-action">
                <div class="phn-email-info">
                  <div class="phn-info">
                    <img src="assets/_img/phn-icon.png" class="img-fluid" />
                    <span>{{ getSettingValue("site.contact_number") }}</span>
                  </div>
                  <div class="email-info">
                    <img src="assets/_img/email-icon.png" class="img-fluid" />
                    <span>{{ getSettingValue("site.email") }}</span>
                  </div>
                </div>
                <!--                <div class="ps-block__header"><span>RETURNING CUSTOMER? SIGN IN FOR FASTER CHECKOUT</span></div>-->
                <div
                  class="ps-block__content checkout-login"
                  style="display: block"
                >
                  <!--                  <p>If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing & Shipping section.</p>-->
                  <h4>Please login first.</h4>

                  <app-login-form [stopRedirect]="true"></app-login-form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ps-form--checkout" *ngIf="isAuthenticated">
          <form [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
            <div class="row" id="paymentHeight">
              <div class="col-md-7">
                <div class="hgp-ship-bil">
                  <div class="ps-form__billings">
                    <h4 class="ps-form__heading">Billing</h4>
                    <div class="row">
                      <div class="col-sm-12" *ngIf="addressBooks.length">
                        <div class="form-group">
                          <label class="mb-0"
                            >Select From saved billing addresses</label
                          >
                        </div>

                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div class="input-field active">
                                  <label for="chk1">Select Address Book</label>

                                  <select
                                    class="ps-select form-control frmEle border-0"
                                    id="chk1"
                                    (change)="
                                      onChangeAddress($event.target, 'billing')
                                    "
                                  >
                                    <option
                                      appFirstOption
                                      title="Address Book"
                                    ></option>
                                    <option
                                      *ngFor="let book of addressBooks"
                                      [value]="book?.id"
                                    >
                                      {{ book?.nickname | titlecase }}
                                    </option>
                                  </select>
                                </div>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6" *ngIf="false">
                        <div class="form-group">
                          <label>First Name <sup>*</sup></label>
                          <input
                            class="form-control"
                            type="text"
                            data-placeholder="First Name"
                            formControlName="billingFirstName"
                          />
                        </div>
                        <ng-template
                          [ngIf]="
                            shippingForm.get('billingFirstName').touched ||
                            shippingForm.get('billingFirstName').dirty
                          "
                        >
                          <div
                            class="error-fld"
                            *ngIf="
                              shippingForm
                                .get('billingFirstName')
                                .hasError('required')
                            "
                          >
                            {{ MESSAGES.required }}
                          </div>
                          <div
                            class="error-fld"
                            *ngIf="
                              shippingForm
                                .get('billingFirstName')
                                .hasError('maxlength')
                            "
                          >
                            {{ MESSAGES.varcharMaxLength }}
                          </div>
                        </ng-template>
                      </div>
                      <div class="col-sm-6" *ngIf="false">
                        <div class="form-group">
                          <label>Last Name <sup>*</sup></label>
                          <input
                            class="form-control"
                            type="text"
                            placeholder="Last Name"
                            formControlName="billingLastName"
                          />
                        </div>
                        <ng-template
                          [ngIf]="
                            shippingForm.get('billingLastName').touched ||
                            shippingForm.get('billingLastName').dirty
                          "
                        >
                          <div
                            class="error-fld"
                            *ngIf="
                              shippingForm
                                .get('billingLastName')
                                .hasError('required')
                            "
                          >
                            {{ MESSAGES.required }}
                          </div>
                          <div
                            class="error-fld"
                            *ngIf="
                              shippingForm
                                .get('billingLastName')
                                .hasError('maxlength')
                            "
                          >
                            {{ MESSAGES.varcharMaxLength }}
                          </div>
                        </ng-template>
                      </div>

                      <div class="col-sm-12">
                        <!--<div class="form-group">
                            <label>Street Address <sup>*</sup></label>
                            <input class="form-control" type="text" placeholder="Street Address" formControlName="billingAddress1">
                        </div>
                         <ng-template [ngIf]="shippingForm.get('billingAddress1').touched || shippingForm.get('billingAddress1').dirty">
                            <div class="error-fld" *ngIf="shippingForm.get('billingAddress1').hasError('required')">{{ MESSAGES.required }}</div>
                        </ng-template> -->

                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('billingAddress1').value
                                  "
                                >
                                  <label for="chk2">Street Address *</label>
                                  <input
                                    class="form-control frmEle border-0"
                                    type="text"
                                    id="chk2"
                                    data-placeholder="Street Address"
                                    formControlName="billingAddress1"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('billingAddress1').touched ||
                              shippingForm.get('billingAddress1').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('billingAddress1')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <!-- <div class="form-group">
                            <label>City <sup>*</sup></label>
                            <input class="form-control" type="text" placeholder="City" formControlName="billingCity">
                        </div>
                        <ng-template [ngIf]="shippingForm.get('billingCity').touched || shippingForm.get('billingCity').dirty">
                            <div class="error-fld" *ngIf="shippingForm.get('billingCity').hasError('required')">{{ MESSAGES.required }}</div>
                            <div class="error-fld" *ngIf="shippingForm.get('billingCity').hasError('maxlength')">{{ MESSAGES.varcharMaxLength }}</div>
                        </ng-template> -->

                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('billingCity').value
                                  "
                                >
                                  <label for="chk3">City *</label>
                                  <input
                                    class="form-control frmEle border-0"
                                    type="text"
                                    id="chk3"
                                    data-placeholder="City"
                                    formControlName="billingCity"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('billingCity').touched ||
                              shippingForm.get('billingCity').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('billingCity')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('billingCity')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.varcharMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('billingState').value
                                  "
                                >
                                  <label for="chk4">State *</label>
                                  <select
                                    class="ps-select form-control frmEle border-0"
                                    id="chk4"
                                    formControlName="billingState"
                                  >
                                    <option
                                      appFirstOption
                                      title="State"
                                    ></option>
                                    <option
                                      *ngFor="let state of states"
                                      [value]="state?.abbreviation"
                                    >
                                      {{ state?.name | titlecase }}
                                    </option>
                                  </select>
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('billingState').touched ||
                              shippingForm.get('billingState').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('billingState')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('billingState')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.stateMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('billingZip').value
                                  "
                                >
                                  <label for="chk5">Zip Code *</label>

                                  <input
                                    class="form-control frmEle border-0"
                                    id="chk5"
                                    type="text"
                                    data-placeholder="Zip Code"
                                    formControlName="billingZip"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('billingZip').touched ||
                              shippingForm.get('billingZip').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('billingZip')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('billingZip')
                                  .hasError('minlength')
                              "
                            >
                              {{ MESSAGES.zipMinLength }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('billingZip')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.zipMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>

                      <div class="col-sm-6" *ngIf="false">
                        <div class="form-group">
                          <label>Email <sup>*</sup></label>
                          <input
                            class="form-control"
                            type="text"
                            placeholder="Email"
                            formControlName="billingEmail"
                          />
                        </div>
                        <ng-template
                          [ngIf]="
                            shippingForm.get('billingEmail').dirty ||
                            shippingForm.get('billingEmail').touched
                          "
                        >
                          <div
                            class="error-fld"
                            *ngIf="
                              shippingForm
                                .get('billingEmail')
                                .hasError('required')
                            "
                          >
                            {{ MESSAGES.required }}
                          </div>
                          <div
                            class="error-fld"
                            *ngIf="
                              shippingForm.get('billingEmail').hasError('email')
                            "
                          >
                            {{ MESSAGES.email }}
                          </div>
                          <div
                            class="error-fld"
                            *ngIf="
                              !shippingForm
                                .get('billingEmail')
                                .hasError('email') &&
                              shippingForm
                                .get('billingEmail')
                                .hasError('maxlength')
                            "
                          >
                            {{ MESSAGES.varcharMaxLength }}
                          </div>
                        </ng-template>
                      </div>
                      <div class="col-sm-6" *ngIf="false">
                        <div class="form-group">
                          <label>Phone <sup>*</sup></label>
                          <input
                            class="form-control"
                            mask="000-000-0000"
                            [validation]="false"
                            type="text"
                            placeholder="Phone"
                            formControlName="billingPhone"
                          />
                        </div>
                        <ng-template
                          [ngIf]="
                            shippingForm.get('billingPhone').touched ||
                            shippingForm.get('billingPhone').dirty
                          "
                        >
                          <div
                            class="error-fld"
                            *ngIf="
                              shippingForm
                                .get('billingPhone')
                                .hasError('required')
                            "
                          >
                            {{ MESSAGES.required }}
                          </div>
                          <div
                            class="error-fld"
                            *ngIf="
                              shippingForm
                                .get('billingPhone')
                                .hasError('minlength')
                            "
                          >
                            {{ MESSAGES.phoneMinLength }}
                          </div>
                        </ng-template>
                      </div>
                      <div class="col-sm-12" *ngIf="!isAuthenticated">
                        <div class="form-group create-account">
                          <div class="ps-checkbox">
                            <input
                              class="form-control"
                              type="checkbox"
                              id="createAccount"
                              formControlName="createAccount"
                            />
                            <label for="createAccount">Create an account</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group shipping mt-4">
                          <div class="ps-checkbox">
                            <input
                              class="form-control"
                              type="checkbox"
                              id="shipping"
                              formControlName="isDifferentBilling"
                              (change)="onCheckboxChange($event)"
                            />
                            <label class="ship-lbl" for="shipping"
                              ><strong>Ship to different address</strong></label
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-md-12 differ-ship pl-0 pr-0"
                    [class.d-none]="!differentBilling"
                  >
                    <div class="row">
                      <div class="col-sm-12" *ngIf="addressBooks.length">
                        <div class="form-group">
                          <label>Select from saved shipping addresses</label>
                        </div>

                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div class="input-field active">
                                  <label for="sa1">Select Address Book</label>

                                  <select
                                    class="ps-select form-control frmEle border-0"
                                    id="sa1"
                                    (change)="
                                      onChangeAddress($event.target, 'shipping')
                                    "
                                  >
                                    <option
                                      appFirstOption
                                      title="Address Book"
                                    ></option>
                                    <option
                                      *ngFor="let book of addressBooks"
                                      [value]="book?.id"
                                    >
                                      {{ book?.nickname | titlecase }}
                                    </option>
                                  </select>
                                </div>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('shippingFirstName').value
                                  "
                                >
                                  <label for="sa2">First Name *</label>
                                  <input
                                    class="form-control frmEle border-0"
                                    id="sa2"
                                    type="text"
                                    data-placeholder="First Name"
                                    formControlName="shippingFirstName"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('shippingFirstName').touched ||
                              shippingForm.get('shippingFirstName').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingFirstName')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingFirstName')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.varcharMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('shippingLastName').value
                                  "
                                >
                                  <label for="sa3">Last Name *</label>
                                  <input
                                    class="form-control frmEle border-0"
                                    id="sa3"
                                    type="text"
                                    data-placeholder="Last Name"
                                    formControlName="shippingLastName"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('shippingLastName').touched ||
                              shippingForm.get('shippingLastName').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingLastName')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingLastName')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.varcharMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('shippingAddress1').value
                                  "
                                >
                                  <label for="sa4">Street Address *</label>
                                  <input
                                    class="form-control frmEle border-0"
                                    id="sa4"
                                    type="text"
                                    data-placeholder="Street Address"
                                    formControlName="shippingAddress1"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('shippingAddress1').touched ||
                              shippingForm.get('shippingAddress1').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingAddress1')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('shippingCity').value
                                  "
                                >
                                  <label for="sa6">City *</label>
                                  <input
                                    class="form-control frmEle border-0"
                                    id="sa6"
                                    type="text"
                                    data-placeholder="City"
                                    formControlName="shippingCity"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('shippingCity').touched ||
                              shippingForm.get('shippingCity').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingCity')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingCity')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.varcharMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('shippingState').value
                                  "
                                >
                                  <label for="sa7">State *</label>
                                  <select
                                    class="ps-select form-control frmEle border-0"
                                    id="sa7"
                                    formControlName="shippingState"
                                  >
                                    <option
                                      appFirstOption
                                      title="State"
                                    ></option>
                                    <option
                                      *ngFor="let state of states"
                                      [value]="state?.abbreviation"
                                    >
                                      {{ state?.name | titlecase }}
                                    </option>
                                  </select>
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('shippingState').touched ||
                              shippingForm.get('shippingState').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingState')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingState')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.stateMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('shippingZip').value
                                  "
                                >
                                  <label for="sa7">Zip Code *</label>

                                  <input
                                    class="form-control frmEle border-0"
                                    id="sa8"
                                    type="text"
                                    data-placeholder="Zip Code"
                                    formControlName="shippingZip"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('shippingZip').touched ||
                              shippingForm.get('shippingZip').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingZip')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingZip')
                                  .hasError('minlength')
                              "
                            >
                              {{ MESSAGES.zipMinLength }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingZip')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.zipMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('shippingEmail').value
                                  "
                                >
                                  <label for="sa9">Email *</label>
                                  <input
                                    class="form-control frmEle border-0"
                                    id="sa9"
                                    type="text"
                                    data-placeholder="Email"
                                    formControlName="shippingEmail"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('shippingEmail').dirty ||
                              shippingForm.get('shippingEmail').touched
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingEmail')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingEmail')
                                  .hasError('email')
                              "
                            >
                              {{ MESSAGES.email }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                !shippingForm
                                  .get('shippingEmail')
                                  .hasError('email') &&
                                shippingForm
                                  .get('shippingEmail')
                                  .hasError('maxlength')
                              "
                            >
                              {{ MESSAGES.varcharMaxLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="detl-srchflds-bx w-100 mr-0">
                          <div class="form-group floating">
                            <div class="input-field-wrap">
                              <span>
                                <div
                                  class="input-field"
                                  [class.active]="
                                    shippingForm.get('shippingPhone').value
                                  "
                                >
                                  <label for="sa9">Phone *</label>
                                  <input
                                    class="form-control frmEle border-0"
                                    id="sa10"
                                    type="text"
                                    mask="000-000-0000"
                                    [validation]="false"
                                    placeholder="Phone"
                                    formControlName="shippingPhone"
                                  />
                                </div>
                              </span>
                            </div>
                          </div>
                          <ng-template
                            [ngIf]="
                              shippingForm.get('shippingPhone').touched ||
                              shippingForm.get('shippingPhone').dirty
                            "
                          >
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingPhone')
                                  .hasError('required')
                              "
                            >
                              {{ MESSAGES.required }}
                            </div>
                            <div
                              class="error-fld"
                              *ngIf="
                                shippingForm
                                  .get('shippingPhone')
                                  .hasError('minlength')
                              "
                            >
                              {{ MESSAGES.phoneMinLength }}
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-5 mb-0 dk-submit">
                    <app-submit-button
                      [isSubmitting]="isSubmitting"
                    ></app-submit-button>
                  </div>
                </div>
              </div>

              <div class="col-md-5">
                <div style="float: left; width: 100%">
                  <div #boundary style="height: 476px" id="boundaryDiv">
                    <div #spacer></div>
                    <div
                      stickyThing
                      [spacer]="spacer"
                      [boundary]="boundary"
                      class="sticky-payment is-sticky"
                    >
                      <app-order-summary [cart]="cart"></app-order-summary>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group mt-5 mb-0 mb-submit">
                  <app-submit-button
                    [isSubmitting]="isSubmitting"
                  ></app-submit-button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-clearfix></app-clearfix>
