<div class="ps-page--default">
    <div class="ps-tab-root" *ngIf="linkValid == false">
        <h3 class="p-3 alert-warning link-expired ml-5 mr-5">Link is expired or invalid.</h3>
    </div>
    <div class="container" *ngIf="linkValid == true">
        <div class="ps-page__header  mb-5 pb-0">
            <h3>{{ title }}</h3>
        </div>
        <div class="ps-page__content">
            <div class="ps-tab-root">
                <form class="ps-form--auth" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="ps-tab active">


                        <div class="detl-srchflds-bx w-100 mr-0">
                            <div class="form-group floating">
                                <div class="input-field-wrap">
                                    <span>
                              <div class="input-field active">
                                  
                                  <label for="Npas">New Password</label>
                                  

                                  <input class="form-control rsNewPass passShow frmEle" id="Npas" formControlName="password" type="password" data-placeholder="New Password">
                                  <span toggle=".rsNewPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                                </span>
                            </div>


                        </div>
                        <ng-template [ngIf]="form.get('password').dirty || form.get('password').touched">
                            <div class="error-fld" *ngIf="form.get('password').hasError('required')">{{ MESSAGES.required }}</div>
                            <div class="error-fld" *ngIf="form.get('password').hasError('minlength')">{{ MESSAGES.minPasswordLength }}</div>
                            <!--              <div class="error-fld" *ngIf="form.get('password').hasError('maxlength')">{{ MESSAGES.maxPasswordLength }}</div>-->
                            <div class="error-fld" *ngIf="!form.get('password').hasError('minlength') && (form.get('password').hasError('hasNumber') || form.get('password').hasError('hasCapitalCase') || form.get('password').hasError('hasSmallCase'))">{{ MESSAGES.passwordAdvanceValidation }}</div>
                        </ng-template>

                    </div>

                    <div class="detl-srchflds-bx w-100 mr-0">
                        <div class="form-group floating">
                            <div class="input-field-wrap">
                                <span>
                                      <div class="input-field active">
                                          
                                          <label for="cfrmP">Confirm Password</label>


                                          <input class="form-control rsCNewPass passShow frmEle" id="cfrmP" formControlName="confirm_password" type="password" data-placeholder="Confirm Password">
                                          <span toggle=".rsCNewPass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            </span>
                        </div>


                    </div>
                    <ng-template [ngIf]="form.get('confirm_password').dirty || form.get('confirm_password').touched">
                        <div class="error-fld" *ngIf="form.get('confirm_password').hasError('required')">{{ MESSAGES.required }}</div>
                        <div class="error-fld" *ngIf="!form.get('confirm_password').hasError('required') && form.get('confirm_password').value != form.get('password').value">{{ MESSAGES.confirm_password }}</div>
                    </ng-template>

            </div>




            <div class="form-group submit text-center">
                <app-submit-button [isSubmitting]="isSubmitting"></app-submit-button>
            </div>

        </div>
        </form>
    </div>
</div>
</div>
</div>