<div class="ps-page--404">
  <div class="container">
    <div class="ps-page__content">
      <div class="ps-form--404">
        <div class="ps-form__header"><i class="icon-confused"></i></div>
        <h3>Ohh! Page Not Found</h3>
        <p>It seems we can't find what you're looking for. Go back to<a routerLink="/"> Homepage</a></p>
<!--        <div class="form-group&#45;&#45;icon">-->
<!--          <input class="form-control" type="text" placeholder="Search...">-->
<!--          <button><i class="icon-magnifier"></i></button>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>

<app-clearfix></app-clearfix>
