<div class="ps-page--default">
    <div class="container">
        <div class="ps-page__header">
            <h3>{{ title }}</h3>
        </div>
        <div class="ps-page__content">
            <div class="ps-tab-root">
                <form class="ps-form--auth" [formGroup]="form" (ngSubmit)="onSubmit();">
                    <div class="ps-tab active">
                        <div class="ps-form__desc mb-5">
                            <p>Provide your account email address to receive an email to reset your password.</p>
                        </div>


                        <div class="detl-srchflds-bx w-100 mr-0">
                            <div class="form-group floating">
                                <div class="input-field-wrap">
                                    <span>
                              <div class="input-field">
                                  
                                  <label for="respsw">Email Address</label>
                                  
                                  <input class="form-control frmEle" formControlName="email" id="respsw" type="email" data-placeholder="Email Address" (blur)="onSubmit(true)">
                              </div>
                          </span>
                                </div>


                            </div>
                            <ng-template [ngIf]="form.get('email').dirty || form.get('email').touched">
                                <div class="error-fld" *ngIf="form.get('email').hasError('required')">{{ MESSAGES.required }}</div>
                                <div class="error-fld" *ngIf="form.get('email').hasError('email')">{{ MESSAGES.email }}</div>
                                <div class="error-fld" *ngIf="form.get('email').hasError('invalidEmail')">Email doesn't exist.</div>
                            </ng-template>

                        </div>



                        <div class="form-group submit text-center">
                            <app-submit-button [isSubmitting]="isSubmitting" [submit]="'Request'"></app-submit-button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>