.new-custm-btn {
    width: 100%;
    height: 56px;
    text-align: center;
    font-family: 'Roobert';
    font-size: 14px;
    font-weight: 600;
    background-color: #1B1B1B;
    padding: 0;
    border: 1px solid #1B1B1B;
    color: #ffffff;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
    flex: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.new-custm-btn:hover {
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
}

.about-main {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}

.about-tp-bg {
    width: 100%;
    height: auto;
    float: left;
    background-color: #DEA827;
}

.about-tp-bginnr {
    width: 100%;
    height: 300px;
    float: left;
    background-image: url('../_img/about-banner.png');
}

.about-tp-bginnr .ps-page--default {
    padding: 56px 0 0;
}

.about-tp-bginnr .ps-page--default .ps-page__header h3 {
    color: #ffffff;
}

.about-tp-bginnr .ps-breadcrumb li {
    color: #ffffff;
}

.about-tp-bginnr .ps-breadcrumb li a {
    color: #ffffff;
}

.about-tp-bginnr .ps-breadcrumb li:before {
    background-color: #ffffff;
}

.hdro-frm-bxes {
    width: 100%;
    height: auto;
    float: left;
    padding: 0 50px;
    margin-top: -108px;
}

.hdro-frm-bxesInnr {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 105px;
    /* align-items: flex-start; */
    align-items: stretch;
}

.hdro-frmsngl-bx {
    width: 360px;
    height: auto;
    min-width: 360px;
    display: flex;
    flex-flow: column;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    background-color: #ffffff;
    position: relative;
    /* light-blue-icon */
    padding: 35px 46px;
}

.frmsngl-bx-logo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.frmsngl-bx-logo svg,
.frmsngl-bx-logo img {
    z-index: 9;
    width: 107px;
    height: 112px;
}

.frmsngl-bx-logo:before {
    content: "";
    background-image: url('../_img/light-blue-icon.png');
    width: 95px;
    height: 85px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
}

.frmsngl-txt {
    display: flex;
    width: 100%;
    color: #000000;
    flex-flow: column;
    text-align: center;
    line-height: 1.4;
    padding: 35px 0 0;
    align-items: center;
}

.frmsngl-txt h4 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 6px;
}

.frmsngl-txt p {
    font-size: 15px;
    padding-bottom: 11px;
    padding-bottom: 11px;
}

.frmsngl-txt a {
    font-size: 15px;
}

.light-gry1 {
    background-color: #F9F8FE;
}

.light-gry2 {
    background-color: #FFFCF7;
}

.light-gry3 {
    background-color: #EDFFFC;
}

.largst-denpc-main {
    display: flex;
    flex-flow: row wrap;
}

.largst-denpc-lft {
    display: flex;
    flex-flow: column;
    width: 48.5%;
    max-width: 100%;
    margin: 55px 0px 0 8.5%;
    color: #000000;
    font-family: 'Roobert';
    position: relative;
    padding-right: 50px;
}

.largst-denpc-lft h4 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
}

.largst-denpc-lft h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 15px;
    padding-right: 50px;
}

.largst-denpc-lft h5 a {
    font-weight: 600;
    font-size: 18px;
}

.largst-denpc-lft p {
    font-size: 15px;
    font-weight: 400;
    padding-right: 50px;
    line-height: 1.2;
}

.largst-denpc-lft .new-custm-btn {
    width: 160px;
    margin-top: 40px;
}

.largst-denpc-lft:before {
    background-image: url('../_img/light-blue-iconlrge.png');
    position: absolute;
    right: 0;
    top: 0;
    width: 338px;
    height: 345px;
    content: "";
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    background-repeat: no-repeat;
    transform: translate(-50px, -50px);
}

.largst-denpc-lft:after {
    background-image: url('../_img/pink-linescrcl.png');
    position: absolute;
    left: 0;
    top: 50%;
    width: 118px;
    height: 119px;
    content: "";
    transform: translate(-88%, -50%);
    /* filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2; */
}

.largst-denpc-rgt {
    width: 43%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.largst-denpc-rgtinnr {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 35px;
    margin-top: 73px;
    position: relative;
}

.largst-denpc-rgtinnr img {
    z-index: 9;
}

.dbl-dts {
    background-image: url('../_img/double-lindots.png');
    width: 91px;
    height: 34px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(100px);
}

.m-utl {
    background-image: url('../_img/m-icon.png');
    width: 73px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(14px);
}

.about-dts-bck {
    background-image: url('../_img/about-dots.png');
    width: 151px;
    height: 145px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(53%, 114px);
}

.about-reddts {
    background-image: url('../_img/red-linescrcl.png');
    width: 71px;
    height: 71px;
    position: absolute;
    bottom: 25%;
    left: 0;
    transform: translate(6%, -66%);
}

.about-redcros {
    background-image: url('../_img/red-cross.png');
    width: 41px;
    height: 42px;
    position: absolute;
    bottom: 0;
    right: 0%;
    transform: translate(-120px, -40px);
}

.hdro-lft-rgt-mian {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    position: relative;
    margin: 64px 0 0;
}

.hdro-lft-rgt-mian:after {
    width: 61px;
    height: 8px;
    position: absolute;
    right: 0;
    top: -23px;
    background-image: url('../_img/about-threedot.png');
    content: '';
    transform: translateX(-100px);
}

.hdro-lft-rgt-mian:before {
    width: 8px;
    height: 62px;
    position: absolute;
    left: 0;
    top: 0px;
    background-image: url('../_img/vertical-lines.png');
    content: '';
    transform: translate(193px, -12px);
}

@media (max-width: 575px) {
    .hdro-lft-rgt-mian:before {
        transform: translate(115px, -12px);
    }
}

.bordr-yelow-rw {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.bordr-width-yelo {
    border-right: 5px solid #FDD152;
    width: 50.5%;
    display: flex;
    flex-flow: column;
    height: 100px;
    justify-content: center;
}

.bordr-width-yelo span {
    width: 100%;
    height: 1px;
    background-image: url('../_img/black-borderimg.png');
    background-repeat: repeat-x;
}

.bordr-width-empty {
    width: 49.5%;
    display: flex;
    flex-flow: column;
}

.hdro-lft-rgt-mianInnr {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 75px;
    align-items: center;
}

.hdro-lft-lft {
    width: 50.5%;
    height: auto;
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 40px 88px 0 142px;
}

.hdro-lft-lftInnr {
    width: 100%;
    display: flex;
    flex-flow: column;
    /* background-color: #FDFDFD; */
    /* height: 372px; */
    height: auto;
    position: relative;
    z-index: 8;
}

.hdro-lft-lftInnr:before {
    position: absolute;
    right: 37px;
    top: 29px;
    background-image: url('../_img/about-yellowdot.png');
    width: 109px;
    height: 103px;
    content: '';
}

.hdro-lft-lft:after {
    position: absolute;
    left: 60px;
    bottom: -30px;
    background-image: url('../_img/about-blackdts.png');
    width: 136px;
    height: 90px;
    content: '';
}

.blck-curve2 {
    position: absolute;
    right: 0;
    top: 50%;
    background-image: url('../_img/black-curve2.png');
    width: 84px;
    height: 156px;
    transform: translate(23px, -50%);
}

.hdro-lft-rgt {
    width: 49.5%;
    height: auto;
    display: flex;
    flex-flow: column;
    font-family: 'Roobert';
    padding: 40px 115px 0 149px;
}

.hdro-lft-rgt h4 {
    font-size: 43px;
    font-weight: 600;
    line-height: 1.1;
    padding-bottom: 17px;
}

.hdro-lft-rgt p {
    font-size: 15px;
    font-weight: 500;
    padding-right: 65px;
    line-height: 1.7;
}

.bdr-left0 {
    border-right: 0;
    border-left: 5px solid #FDD152;
}

.hdro-lft-rgt ul {
    padding-left: 0;
    padding: 15px 0 0 0;
    margin-bottom: 5px;
}

.hdro-lft-rgt ul li {
    background-image: url('../_img/li-img.png');
    padding: 5px 0 5px 38px;
    background-repeat: no-repeat;
    list-style: none;
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 600;
    background-position: 0 3px;
}

.hdro-lft-secnd-sec {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    position: relative;
    margin-top: 30px;
}

.hdro-lft-secnd-sec:after {
    position: absolute;
    left: -50px;
    top: -52px;
    background-image: url('../_img/hw-dots.png');
    width: 157px;
    height: 146px;
    content: '';
}

.abt-secimg:after {
    display: none;
}

.hdro-lft-secnd-sec img {
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.grow-shdw2 {
    background-image: url('../_img/about-shadow.png');
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 510px;
    height: 118px;
    transform: translate(-50%, 100px);
}

.about-sldr-sec {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 40px 0 0 0;
}

.about-sldr-sectit {
    width: 100%;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 0 215px;
}

.about-sldr-sectit h5 {
    color: #112454;
    font-size: 36px;
    font-family: 'Roobert';
    font-weight: bold;
    line-height: 1.1;
}

.about-slider {
    width: 100%;
    float: left;
    height: auto;
    padding: 100px 0 102px 0;
    position: relative;
}

.about-sldr-bg {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    overflow: hidden;
}

.sldr-opcty-lyer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    background-color: #000000;
}

.about-sldr-bgInnr {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    color: #ffffff;
    padding: 20px 15px;
    font-family: 'Roobert';
}

.about-sldr-bgInnr p {
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    font-weight: 400;
    margin-bottom: 0px;
}

.about-sldr-bgInnr h4 {
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3px;
}

.about-sldr-bgInnr strong {
    font-weight: 600;
}

.about-slider-otr {
    margin: 0 20px;
}

.about-slider .slick-list {
    padding: 0 90px;
}

.about-slider .slick-dots li button:before {
    color: #000000 !important;
}

.slider-sky-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 392px;
    height: 398px;
    background-image: url('../_img/slider-sky-icon.png');
    content: '';
    transform: translate(83px, 0px);
}

.about-slider .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 10px;
    width: 10px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 0;
    cursor: pointer;
}

.about-slider .slick-dots li button:before {
    width: 10px;
    height: 10px;
    line-height: 12px;
}

.about-slider .slick-dots li {
    width: 10px;
    height: 10px;
}

.about-slider .slick-dots {
    bottom: -58px !important;
}

.about-slider .slick-dots li.slick-active button:before {
    width: 19px !important;
    font-size: 10px !important;
    background-color: #000;
    border-radius: 10px;
}

.about-slider .slick-dots li.slick-active {
    width: 19px;
}


/* Faq css starts here */

.faq-srch {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 27%;
}

.faq-srch h3 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Roobert';
    font-weight: bold;
}

.faq-lowr-sec {
    width: 100%;
    height: auto;
    /* display: flex;
    flex-flow: row wrap; */
    padding: 85px 75px 75px;
}

.faq-lft-lnks {
    width: 99%;
    border: 1px solid #AAAAAA;
    display: flex;
    flex-flow: column;
    margin-right: 1%;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}

.faq-lft-tp {
    width: 100%;
    background-color: #F4F4F4;
    min-height: 60px;
    display: flex;
    flex-flow: column;
    padding: 0 25px 0px;
    justify-content: center;
    position: relative;
}

.faq-lft-tp h3 {
    font-size: 20px;
    font-family: 'Roobert';
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0;
}

.faq-lft-tp h3.heading {
    font-size: 20px;
    font-family: 'Roobert';
    font-weight: bold;
    color: #000000;
    text-transform: none;
    margin-bottom: 0;
}

.faq-lft-btm {
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px 25px 30px;
}

.faq-lft-btm ul {
    padding-left: 0;
    width: 100%;
}

.faq-lft-btm .nav-tabs .nav-item.show .nav-link,
.faq-lft-btm .nav-tabs .nav-link.active {
    border: none;
}

.faq-lft-btm .nav-tabs {
    border: none;
}

.faq-lft-btm .nav-tabs .nav-item {
    margin-bottom: 0;
}

.faq-lft-btm .nav-tabs .nav-link {
    border: none;
}

.faq-lft-btm ul li {
    width: 100%;
    border-bottom: 1px solid #B3B3B3;
    list-style: none;
    margin-bottom: 10px;
}

.faq-lft-btm ul li a {
    font-family: 'Roobert';
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    padding: 9px 0 9px;
    display: flex;
}

.faq-rgt-accord {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    padding-left: 11px;
}

.faq-rgt-accord .card-header {
    background-color: #F4F4F4;
    padding: 0;
    border: none;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}

.faq-rgt-accord .card-header button,
.faq-rgt-accord .card-header a {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    font-family: 'Roobert';
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 65px 20px 17px;
    color: #000000;
    position: relative;
    max-width: 100%;
    white-space: normal;
    text-align: left;
}

.faq-rgt-accord .card-header h5 button:before,
.faq-rgt-accord .card-header h5 a:before {
    content: "+";
    position: absolute;
    right: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border: 0px solid #000000;
    justify-content: center;
    line-height: normal;
    align-content: center;
    display: flex;
    color: #fff;
    transform: translate(-17px, -50%);
    font-size: 30px;
    font-family: 'Roobert';
    font-weight: normal;
}

.faq-rgt-accord .card-header h5 button[aria-expanded="true"]:before,
.faq-rgt-accord .card-header h5 a[aria-expanded="true"]:before {
    content: "-";
}

.faq-rgt-accord .card {
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
}

.faq-rgt-accord .btn-link:hover,
.faq-rgt-accord .btn-link:focus {
    text-decoration: none !important;
}

.faq-rgt-accord .card-body {
    font-size: 16px;
    font-family: 'Roobert';
    font-weight: normal;
    color: #000000;
    padding: 20px 17px 17px;
    line-height: 1.3;
}

.faq-rgt-accord .card-body p {
    font-size: 16px;
    margin-bottom: 3px;
}

.faq-rgt-accord .card-body a {
    font-size: 16px;
    text-decoration: underline;
}

.faq-shw-mobl {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10px, -50%);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border: 0px solid #000000;
    display: none;
    /* padding: 4px 0 0 2px; */
    text-align: center;
}

.faq-shw-mobl i {
    color: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
}


/* How it work starts here */

.hiw-secnd-sec {
    width: 100%;
    height: auto;
    float: left;
    margin: -111px 0 0 0;
    position: relative;
}

.hiw-secnd-sec-innr {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 0 60px 120px;
    min-height: 708px;
}

.hiw-secnd-left {
    border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    -webkit-border-radius: 20px 0px 0px 0px;
    border: 0px solid #000000;
    width: 600px;
    height: 400px;
    background-color: #F4F4F4;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.hiw-secnd-leftInnr {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hiw-secnd-rgt {
    width: 605px;
    /* height: 400px; */
    position: absolute;
    right: 60px;
    top: 0;
}

.hiw-secnd-rgt-frrgt {
    width: 100%;
    height: auto;
    display: flex;
    transform: translate(0px, 50%);
    position: relative;
    background-color: #F4F4F4;
    border-radius: 0px 0px 20px 0px;
    -moz-border-radius: 0px 0px 20px 0px;
    -webkit-border-radius: 0px 0px 20px 0px;
    border: 0px solid #000000;
}

.hiw-secnd-rgt-innr {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    padding: 64px 50px 20px 114px;
    overflow: hidden;
    font-family: 'Roobert';
    font-size: 15px;
    color: #000000;
    line-height: 1.7;
    min-height: 400px;
}

.hiw-secnd-rgt-innr h3 {
    font-size: 43px;
    font-weight: 600;
    line-height: 1.05;
    padding-bottom: 27px;
}

.hiw-secnd-rgt-innr p {
    font-size: 15px;
    font-weight: 500;
}

.hiw-icon1 {
    position: absolute;
    background-image: url('../_img/hiw-lb-icon.png');
    width: 372px;
    height: 376px;
    left: 280px;
    top: 235px;
}

.hiw-third-sec {
    width: 100%;
    height: auto;
    display: flex;
}

.hiw-third-tit {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    flex-flow: column;
    font-family: 'Roobert';
    font-size: 18px;
    font-weight: 500;
    padding: 0 125px;
}

.hiw-third-tit h4 {
    font-size: 43px;
    font-weight: 600;
    line-height: 1.4;
    padding-bottom: 22px;
}

.hiw-third-tit p {
    font-size: 18px;
    font-weight: 500;
}

.hiw-third-bx-rw {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    padding: 72px 0 0 18px;
}

.hiw-third-bx {
    width: 35.95%;
    /* width: 450px; */
    height: auto;
    display: flex;
    flex-flow: column;
}

.hiw-third-bx:last-child {
    width: 28.1%;
    /* width: 334px; */
}

.hiw-third-bxInnr {
    /* width: 53.5%; */
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    /* margin: 0 26.4% 0 20.1%; */
    padding: 0 141px 0 85px;
    position: relative;
}

.hiw-third-bxInnr:after {
    background-image: url(../_img/hiw-arrowblack.png);
    position: absolute;
    right: 0;
    top: 0;
    width: 168px;
    height: 134px;
    content: "";
    transform: translate(35px, 27px);
}

.hiw-third-bxInnr.bf-none {
    width: 100%;
    padding-right: 0;
}

.hiw-third-bxInnr.bf-none:after {
    display: none;
}

.hiw-third-bxInnrTp {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}

.hiw-third-bxInnrTpbg {
    /* width: 100%; */
    height: 224px;
    width: 224px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    margin-bottom: 20px;
}

.hiw-third-bxInnrTpbg:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 123px;
    height: 141px;
    background-image: url('../_img/hit-dots.png');
    z-index: -1;
    transform: translateX(-88px);
}

.hiw-stp {
    background-color: #FDD152;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    width: 77px;
    height: 50px;
    font-family: 'Roobert';
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(25px, -25px);
}

.hiw-stp p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.hiw-third-bxInnrBT {
    width: 100%;
    display: flex;
    flex-flow: column;
    font-family: 'Roobert';
    padding: 7px 0 0 0;
    line-height: 1.7;
}

.hiw-third-bxInnrBT h5 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 2px;
}

.hiw-third-bxInnrBT p {
    font-size: 15px;
    font-weight: 500;
}

.hiw-forth-sec {
    width: 100%;
    height: auto;
    display: flex;
    padding: 110px 53px 130px 63px;
}

.frth-sec-txt {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    font-family: 'Roobert';
    padding-right: 60px;
    line-height: 1.7;
    height: 100%;
    justify-content: center;
    color: #000000;
}

.frth-sec-txt p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.frth-sec-txt .new-custm-btn {
    width: 160px;
    height: 56px;
    margin-top: 50px;
}

.frth-sec-img {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
}

.frth-sec-img img {
    z-index: 2;
}

.frth-sec-img:before {
    background-image: url('../_img/hiw-yellow-dots.png');
    width: 219px;
    height: 207px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
}

.hiw-ftv-sec {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #EDFFFC;
    padding: 133px 64px 0;
    flex-flow: column wrap;
}

.hiw-ftv-sec-rw {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 100px;
}

.hiw-ftv-secLft {
    display: flex;
    flex-flow: column;
    width: 50%;
    position: relative;
}

.hiw-ftv-secLft:before {
    position: absolute;
    right: -45px;
    top: -33px;
    background-image: url('../_img/hiw-black-dots.png');
    width: 111px;
    height: 72px;
    content: "";
}

.hiw-ftv-secLftInnr {
    width: 100%;
    height: 450px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hiw-ftv-secRgt {
    display: flex;
    flex-flow: column;
    width: 50%;
    position: relative;
    font-family: 'Roobert';
    line-height: 1.3;
    padding: 28px 0 0 90px;
    /* height: 100%; */
    justify-content: center;
}

.hiw-ftv-secRgt h4 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 26px;
}

.hiw-ftv-secRgt p {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 6px;
}

.hiw-ftv-secRgt ul {
    padding-left: 0;
}

.hiw-ftv-secRgt ul li {
    font-size: 13px;
    font-weight: 600;
    list-style: none;
    background-image: url('../_img/li-img.png');
    padding: 5px 0 5px 38px;
    background-repeat: no-repeat;
    list-style: none;
    margin-bottom: 16px;
    background-position: 0 3px;
}

.hiw-fith-nw {
    padding: 28px 90px 0 0px;
}

.hiw-fith-nw-rgt {
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: column;
    padding: 28px 0 0 90px;
}

.hiw-small-rw {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-flow: column;
}

.hiw-small-bx1 {
    width: 286px;
    height: 228px;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
    background-image: url('../_img/hiw-small1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 40.5%;
    position: relative;
}

.hiw-small-bx2 {
    margin: -45px 0 0 40.5%;
}

.hiw-whtdot {
    content: "";
    background-image: url('../_img/hiw-whitedots.png');
    width: 123px;
    height: 140px;
    position: absolute;
    left: 55%;
    bottom: 25px;
}

.hiw-curve2 {
    content: "";
    background-image: url('../_img/curve-arrow2.png');
    position: absolute;
    left: 0;
    top: 13px;
    width: 133px;
    height: 166px;
    transform: translateX(38px);
}

.hiw-fqs-sec {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    padding: 115px 74px 143px;
}

.hiw-fqs-sec .faq-srch h3 {
    color: #000000;
}

.hiw-fqs-sec .faq-srch .srch-fldnew input {
    border: 1px solid #AAAAAA;
}

.hiw-fqs-sec .faq-rgt-accord {
    padding-left: 0;
    padding-top: 97px;
}


/* guide lines */

.guideline-main {
    background-color: white;
    height: 471px;
    overflow: hidden;
    position: relative;
}

.guide-circle2 {
    position: absolute;
    background-image: url('../_img/hiw-last.png');
    width: 259px;
    height: 235px;
    bottom: 0px;
    right: 450px;
}

.guide-circle {
    height: 683px;
    width: 683px;
    background-color: #FBE598;
    border-radius: 50%;
    position: absolute;
    right: -150px;
    bottom: -333px;
}

.guideline {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 80px;
    padding: 0 0px 0 54px;
}

.guideline-txt {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    align-items: flex-start;
    align-content: space-between;
}

.guideline-txt h4 {
    font-size: 35px;
    font-weight: 600;
}

.guideline-txt a {
    /*margin-top: 50px;*/
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: #1B1B1B;
    text-decoration: none;
    justify-content: center;
    border-bottom: 1px solid #1B1B1B;
    padding-bottom: 5px;
}

.grow-book {
    text-align: center;
    /* width: 100%;
    height: 100%;
    display: flex; */
    padding-left: 156px;
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    min-height: 439px;
}

.grow-book-img {
    position: relative;
    z-index: 9;
}

.badl {
    position: absolute;
    bottom: 40px;
    left: 50px;
    z-index: -1;
}

.grow-book:before {
    background-image: url('../_img/book-crcle.png');
    width: 275px;
    height: 146px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    transform: translateX(200px);
}

.about-main .creater-sec {
    padding-bottom: 109px;
}
