<app-order-detail-title-content title="First Name" [content]="order?.billing_first_name"></app-order-detail-title-content>
<app-order-detail-title-content title="Last Name" [content]="order?.billing_last_name"></app-order-detail-title-content>
<app-order-detail-title-content title="Street Address" [content]="order?.billing_address_1"></app-order-detail-title-content>
<app-order-detail-title-content title="City" [content]="order?.billing_city"></app-order-detail-title-content>
<app-order-detail-title-content title="State" [content]="state"></app-order-detail-title-content>
<app-order-detail-title-content title="Zip Code" [content]="order?.billing_zip"></app-order-detail-title-content>
<!--<app-order-detail-title-content title="Email" [content]="order?.billing_address_email"></app-order-detail-title-content>-->
<!--<app-order-detail-title-content title="Phone" [content]="order?.billing_address_phone"></app-order-detail-title-content>-->
