<div class="ps-page--default pt-5">
  <div class="container">
    <!-- <div class="ps-page__header pad-btm30 checkout-head pb-5 ">
      <div class="checkout-logo2">
        <a routerLink="/">
          <img src="assets/_img/hgp.png" class="img-fluid"/>
        </a>
      </div>
    </div> -->
    <div class="ps-page__content thank-you" >
      <div class="ps-tab-root">
        <h4>Thank You for Purchasing</h4>
        <p class="mb-5">Your order number {{ orderNumber }} was completed successfully.
        </p>
        <div class="add-blues-innr thnks-btn">
        	<a [href]="getSettingValue('site.calendly-link')" target="_blank">schedule GrowTeam consultation</a>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- data-aos="zoom-in" data-aos-duration="1000" -->
