<header *ngIf="showHeader">
  <!-- <div class="upper-head div-float">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="div-float position-relative">
            <p>Free shipping on all GrowKits!</p>
            <a href="javascript:" onclick="closeHelloBar()" class="hello-close cros-btn">X</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="clearfix"></div>
  <div class="header-main div-float">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="menu-head div-float">

            <app-nav-bar></app-nav-bar>

            <!-- <ul class="navbar-nav right-nav mb-show2 mobl-icons text-center">
              <li class="nav-item">
                <a class="nav-link" href="my-account"><img src="assets/_img/account.png" alt="MyAccount" class="img-fluid" /></a>
              </li>
              <li class="nav-item pt-0">
                <app-cart-icon></app-cart-icon>
              </li>
              <li class="nav-item">
                <a class="nav-link search-link" href="#" ><img src="assets/_img/search-icon.png" alt="search" class="img-fluid" /></a>
              </li>
            </ul> -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div-float header-cover d-none"></div> <!-- Header Cover -->

</header>

<!-- Search Bar Starts -->
<app-search-bar></app-search-bar>
<!-- Search Bar Ends -->
